{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "MyConnection": "Server=(localdb)\\MyLocalDb; DataBase =PrivateBlog; User Id=Dres; Password = andres2005*; Encrypt = false; "
  },

  "AllowedHosts": "*"
}
